# 「.DS_Store」や「._.DS_Store」を除外
*.DS_Store
.idea/*
/share/composer.lock

Docker/Mysql/*
docker-compose.yml

/share/phinx.yml
/share/.env
/share/vendor/*
/share/src/cache/*
/share/public/user/*
/share/public/message/*
/share/logs/*
/share/public/text/*
!.gitkeep
